$primaryColor: #F5F5F5FF;
$secondaryColor: #98DAD9;
$thirdColor: #5B8291;
$highlightColor: #083b66;
$text-color: black;
$text-danger: #c91919;
$navButtonPadding: 8px 16px;

$fontfamily-Juilius: 'Julius Sans One', sans-serif;
$fontfamly-Josefin: 'Josefin Sans', sans-serif;
$fontfamily-Camby: 'Cambay', sans-serif;


// dark mode

$d_text-color: white;

@mixin button_outline(){
  text-decoration: none;
  display: block;
  border: 1px solid $highlightColor !important;
  color: $highlightColor !important;
  padding: $navButtonPadding;

  &:hover {
    background-color: $highlightColor !important;
    color: $primaryColor !important;
  }
}

@mixin button_filled(){
  display: block;
  border: 1px solid $highlightColor !important;
  background-color: $highlightColor !important;
  color: $primaryColor !important;
  padding: $navButtonPadding;
  &:hover{
    background-color: $primaryColor !important;
    color: $highlightColor !important;
  }
}
@mixin button_danger(){
  display: block;
  border: 1px solid $text-danger !important;
  background-color: $text-danger !important;
  color: $primaryColor !important;
  padding: $navButtonPadding;
  &:hover{
    background-color: $primaryColor !important;
    color: $text-danger !important;
  }
}

@mixin box-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.error{
  color: $text-danger;
  font-family: $fontfamly-Josefin;
}

@media (prefers-color-scheme: dark) {
  body{
    background-color: $primaryColor;
  }
}

