
.one{
  padding: 10px;
  flex:30%;
  h3{
    text-align: center;
  }
  p{
    text-align: justify;
  }
  background-color: #F5F5F5FF;
}




@media screen and (max-width: 992px) {
  .three {
    flex-direction: column;
  }
  .two{
    width:100%;
  }

}
