@use "theme";
  *{
    font-family: Cambria;
  }
.detail_container {
  display: flex;
  flex-direction: row;
  //flex-wrap: wrap;
  justify-content: center;


  .sub_container {
    margin-block: 2rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    max-width: 1500px;

    .graphic {
      img {
        width: 600px;
        height: 600px;
        object-fit: contain;
        background-color: white;
        @include theme.box-shadow;
      }
    }

    .info {
      padding: 0.5rem;
      text-transform: capitalize;


      ul {
        padding: 0px;

      }

      li::marker {
        color: theme.$highlightColor;
        font-size: 1em;
        font-weight: 100;


      }



    }
  }

}



