@use 'theme';

.user_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  @include theme.box-shadow;
  padding: 1rem;
  margin-top: 2rem;

  .graphic{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div{
      img{
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }

    h1, h3{
      text-transform: capitalize;
      font-family: theme.$fontfamily-Camby;
      margin: 0.5rem;
    }

    #business_account{
      padding: 0;
      margin: 0;
    }
  }

  .detail {
    padding: 1rem;
    div{
      display: flex;
      flex-direction: row;
      //gap: 10px;
      padding: 1rem 0;
    }
    h3{
      margin: 0;
      text-transform: capitalize;
      padding: 0.2rem;
      font-family: theme.$fontfamily-Camby;
    }
  }
}

