{% extends '../_doublenavlayout.twig' %}

{% block body %}
    <div class ="contain">

        <div class="about">
            <p >As we all know nowadays its very important to have insurance for our family or relatives, we know that you have strssed about your love ones thts why we are here to provide u best service in terms of service of life insurance,
                notonly we provide best service at best price but also u will have not worried if u appilied the insuramnce inour company, we are like family not cheating and no frauding become stressfree and live life that nobody else can
                with our service.Moreover whatever u have any doubt you can tell us at any social media...
            </p>
        </div>
        <div class="three">
            <div class="one">
                <h3 style="color:#00bcd4; ">WHO WE ARE ?</h3><br>
                <p> We are your the best insurance agents working in the company providing you our best service.​​We feel proud to be one of the leading general insurance companies of India. We have a huge customer base which includes individuals like you,
                    corporates and SMEs. With our 1000+ offices and more than 300,900+ intermediaries across world, you can now reach out to us and enjoy our services at your own convenience. Moreover, with online & telecalling services, we have become
                    even more accessible.</p>
            </div>
            <div class="one">
                <h3 style="color:#00bcd4; ">WHAT WE DO ? </h3><br>

                <p>We often give you top best insurance whehter life or any other u ccan just apply for it by providing some information of yours detail.You can look up to us for many of your insurance solutions with respect to motor, health, home, travel,
                    marine, etc. Through our products and services, we try to meet every customer's individual needs by offering customized plans. .We want to score perfectly for world standard services & products, and want to be your first choice in
                    domestic as well as global markets.</p>
            </div>
            <div class="one">
                <h3 style="color:#00bcd4; "> OUR SERVICES</h3><br>

                <p > We provide top class service at worls level.Satisfy your need of insurance cover in that crucial hour, Offer incomparable customer service, Provide innovative products, Better reach through presence across India and abroad.You can meet
                    our department heads if you are not satisfied with our emplyoee services.We also provide services at different metropoliant cities and states. We also hope that in future we can provide services at country level.
                </p>
            </div>

        </div>

    </div>
    <footer>
        <div class="row primary">
            <div class="column about">
                <h3> Know Us</h3>

                <ul>


                    <li>
                        <a href="#faq">Careers</a>
                    </li>
                    <li>
                        <a href="#cookies-policy">BTB and Our Planet</a>
                    </li>
                    <li>
                        <a href="#terms-of-services">  Investor Relations</a>
                    </li>
                    <li>
                        <a href="#support">  Press Releases</a>
                    </li>
                </ul>

            </div>

            <div class="column links">
                <h3>Make Money with Us</h3>

                <ul>

                    <li>
                        <a href="#faq">  Sell on BTB</a>
                    </li>
                    <li>
                        <a href="#cookies-policy">BTB Associates</a>
                    </li>
                    <li>
                        <a href="#terms-of-services">  Sell on BTB Handmade</a>
                    </li>
                    <li>
                        <a href="#support"> Advertise Your Products</a>
                    </li>
                </ul>

            </div>


            <div class="column links">





                <h3>Let Us Help You</h3>
                <ul>
                    <li>
                        <a href="#faq">COVID-19 and BTB</a>
                    </li>
                    <li>
                        <a href="#cookies-policy"> Shipping Rates & Policies</a>
                    </li>
                    <li>
                        <a href="#terms-of-services"> BTB Prime</a>
                    </li>
                    <li>
                        <a href="#support">Returns Are Easy
                            Manage</a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="row copyright">
            <p>Copyright &copy; 2021 Foolish Developer</p>
        </div>
    </footer>
{% endblock %}
