{% extends '../_doublenavlayout.twig' %}

{% block body %}
<div class="footer" >
    <div class="slides">

        <input type="radio" name="s" id="radio1" checked/>
        <div class="slide" id="slide1">
            <img src ="/images/online1.jpg" alt="cart">
            <label class="last" for="radio3"></label>
            <label class="next" for="radio2"></label>

        </div>
    <div class ="contain">

        <div class="about">
            <p >We are committed to and invested in sustainability because it’s a win all around—it’s good for the planet, for business, for our customers, and for our communities .
                This is BTB commitment to be net-zero carbon by 2040. In addition, we are on a path to powering our operations with 100% renewable energy by 2025.
                From reducing water usage in data centers to using sustainable aviation fuel, we are committed to building a sustainable business for our customers, communities, and the world.
                We’re working to invent packaging that delights customers, eliminates waste, and ensures products arrive intact and undamaged.


            </p>


            <div class="three">
                <div class="one">
                    <h3 style="color:#00bcd4; ">WHO WE ARE ?</h3><br>
                    <p>
                        BTB is guided by four principles: customer obsession rather than competitor focus, passion for invention, commitment to operational excellence, and long-term thinking. Amazon strives to be Earth’s most customer-centric company, Earth’s best employer, and Earth’s safest place to work. Customer reviews, 1-Click shopping, personalized recommendations, Prime, Fulfillment by Amazon, AWS, Kindle Direct Publishing, Kindle, Career Choice, Fire tablets, Fire TV, Amazon Echo, Alexa, Just Walk Out technology, Amazon Studios, and The Climate Pledge are some things pioneered by BTB.
                        Our Leadership Principles are more than inspirational wall hangings. The 16 principles guide our discussions and decisions every day.
                        While our positions are carefully considered and deeply held, there is much room for healthy debate and differing opinions. We hope being clear about our positions is helpful.
                        We are honored to be recognized for the work we do on behalf of our customers, employees, and communities every day.
                        Working to earn and keep our customers’ trust is the single biggest driver of BTB’s Day 1 approach. BTB’s decision-making process that asks employees to consider whether an action is a one-way door—consequential and nearly irreversible—or a two-way door, easy to change course and go back. Discover more about who we are through our Annual Letters to Shareholders from 1997 through today.
                        All BTB employees earn at least $15 an hour—and more in areas where the cost of living is higher. We invest in employee career growth—including fully paid college tuition—and offer regular, full-time employees benefits like health care on day one, and paid family leave.

                    </p>
                </div>
                <div class="one">
                    <h3 style="color:#00bcd4; ">WHAT WE DO ? </h3><br>

                    <p>Although our business has evolved over the years, one constant is customers’ desire for lower prices, better selection, and convenient services. Today, BTB shoppers can find what they’re looking for online and in person. From delivering fresh produce to their doorstep to creating and distributing movies, music, and more, we are always finding new ways to delight our customers.
                        We work every day to earn and keep customers’ trust. We do this through convenient services and the thousands of small and medium businesses that add significantly to our product selection.
                        From Alexa and Echo, Fire TV, Fire Tablets, and more, customers are using devices and services to make their daily lives easier and more enjoyable.
                        AWS is the world’s most comprehensive and broadly adopted cloud platform, offering over 200 fully featured services from data centers globally.
                        Our Operations and award-winning Customer Service teams are at the heart of Amazon’s mission to be Earth’s most customer-centric company.
                        We create and provide access to world-class entertainment through Amazon Originals, Prime Video, Audible, Twitch, Amazon Music, and more for customers to enjoy.
                        Our passion for delighting customers drives us to constantly invent on their behalf. Working backward from customer needs, we’re constantly seeking to improve our services, add benefits and features, and invent new products. With this in mind, over the years we’ve launched innovative services such as Prime, Alexa and our family of Echo devices, award-winning entertainment, and exclusive BTB products.

                    </p>
                </div>
                <div class="one">
                    <h3 style="color:#00bcd4; "> OUR SERVICES</h3><br>

                    <p >
                        The customer is at the heart of everything we do. BTB is a place where smart, passionate people obsess over customers and innovate on their behalf. BTB has created more U.S. jobs in the last decade than any other company. These are jobs that pay an average of $18 per hour, more than double the federal minimum wage. We also invest in employees’ success. BTB will spend over $1 million to provide free skills training to employees—helping them further their careers in tech and in-demand roles such as cloud computing.
                        Our hiring and investments brought much-needed jobs and added hundreds of millions of dollars in economic activity to many communities across the Canada.
                        Small and medium businesses now make up approximately 60% of physical product sales in our store and have created an estimated 2.2 million jobs.
                        We are a part of the communities around the world where our employees live and work. We bring the same innovation and energy to our neighborhoods and cities as we do to our work every day.
                        Our investments go far beyond creating jobs in communities and empowering small and medium businesses as they grow through selling in BTB’s Store. We expand access to skill building for in-demand fields and work on urgent needs—from the nonprofits we support that help families in their journeys out of homelessness to the way we provide disaster relief to those in need.


                    </p>
                </div>

            </div>


        </div>
    </div>
    <div style="margin-top: 2vh;" ></div>
    <footer>
        <div class="row primary">
            <div class="column about">
                <h3> Know Us</h3>

                <ul>


                    <li>
                        <a href="#faq">Careers</a>
                    </li>
                    <li>
                        <a href="#cookies-policy">BTB and Our Planet</a>
                    </li>
                    <li>
                        <a href="#terms-of-services">  Investor Relations</a>
                    </li>
                    <li>
                        <a href="#support">  Press Releases</a>
                    </li>
                </ul>

            </div>

            <div class="column links">
                <h3>Make Money with Us</h3>

                <ul>

                    <li>
                        <a href="#faq">  Sell on BTB</a>
                    </li>
                    <li>
                        <a href="#cookies-policy">BTB Associates</a>
                    </li>
                    <li>
                        <a href="#terms-of-services">  Sell on BTB Handmade</a>
                    </li>
                    <li>
                        <a href="#support"> Advertise Your Products</a>
                    </li>
                </ul>

            </div>


            <div class="column links">





                <h3>Let Us Help You</h3>
                <ul>
                    <li>
                        <a href="#faq">COVID-19 and BTB</a>
                    </li>
                    <li>
                        <a href="#cookies-policy"> Shipping Rates & Policies</a>
                    </li>
                    <li>
                        <a href="#terms-of-services"> BTB Prime</a>
                    </li>
                    <li>
                        <a href="#support">Returns Are Easy
                            Manage</a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="row copyright">
            <p>Copyright &copy; 2021 BTB Business</p>
        </div>
    </footer>
{% endblock %}
