{% extends '../_doublenavlayout.twig' %}

{% block body %}
    <div class="main">
    <div class="sideNav-User">
        <ul>
            <li><a href="/user/edit">Edit</a></li>
            <li><a href="/user/delete">Delete</a></li>
            <li><a href="/user/logout">Logout</a></li>
        </ul>
    </div>

    <div class="user_container">
        <div class="graphic">
            <div>
                <img id="" src="/images/avatar/1.png" alt="avatar">
            </div>
                <h1 id="username">username</h1>

                <h3 id="business_account"></h3>

                <a class="btn_filled" href="/user/cart/">Cart</a>
        </div>

        <div class="detail">
            <div>
                <h3 id="first_name">first_name</h3>
                <h3 id="last_name">last_name</h3>
            </div>

            <h3 id="phone_number">phone_number</h3>
            <h3 id="Email_number">Email_number</h3>
            <br/>
            <h3 id="address_line1">address_line1</h3>
            <h3 id="address_line2">address_line2</h3>
            <h3 id="city">city</h3>
            <h3 id="province">province</h3>
            <h3 id="postal_code">postal_code</h3>
        </div>
    </div>

    <div class="sideNav-User">
        <ul class="login">
            <li><a href="/user/login">Login</a></li>
            <li><a href="/user/signup">Sign up</a></li>
        </ul>
    </div>
    </div>
    <script src="/javascripts/user.js"></script>
{% endblock %}
